<%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %>

<p><%= @picture.title %>, <%= @picture.artist %></p>
<img src="<%= @picture.url %>">

<h3>Comments:</h3>
<ul>
  <% @comments.each do |comment| %>
    <li>On <%= comment.created_at %> <%= comment.name %> said:<br>
    <%= comment.message %> </li>
  <% end %>
</ul>
