<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
  <header>
    <div class="top-bar">
      <div class="title">
        <h1><%= link_to( "JEFF'S PHOTOGUR", root_path) %></h1>
      </div>
      <div class="userinfo">
        <% if current_user %>
          <p class="signedin">Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %></p>
        <% else %>
          <p class="signedout"><%= link_to "Log in", new_session_path %><%= link_to "Sign up", new_users_path %></p>
        <% end %>
      </div>
    </div>
    <nav>
      <ul>
        <li><%= link_to("New Picture", new_picture_path) %></li>
        <li><%= link_to("Recent Work", pictures_path) %></li>
        <li><%= link_to("Previous Work", previous_work_path) %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
